.navGame{
  height: 300px;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideImg{
  height: 30px;
  width: 30px;
}

.mainNav{
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.mainNav a{
  justify-self: center;
}

.navGame a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.navGame a:not(.closebtn):hover{
  background-color:#f1f1f1;
  color: black;
}

.navGame .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px){
  .navGame {padding-top: 15px;}
  .navGame a {font-size: 18px;}
}

.sidebarbtn {
  cursor: pointer;
  border: none;
  text-decoration: none;
  display: inline-block;
  background-color: #333;
}

body{
    background-color: #7C019E;
}

*{
    margin:0;
    padding: 0;
}

p{
    color: white;
}
.scrollbar
{
	overflow-y: auto;

}

.edit_button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 100px;
    background-color:#BD00EB;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 30px;
}

.edit_button img{

    width: 30px;
}
.jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: 150px;
    width: 150px;
    max-height: 350px;
    margin-bottom: 10px;
}
.game_name{
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}
.game_dev{
    color: rgb(61, 61, 61);
    text-align: center;
    font-size: 15px;
}
.game_image{
    width: 150px;
    height: 180px;
    object-fit: cover;
}
.gameBox{
    width: 150px;
    height: 200px;
}

.container{

    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 90%;

}
.card{
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #7AEB00;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 20px black;
    
}

.button_edit{
    border-style: none;
}
.subnota{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleNota{
    padding:4px;
    border-radius: 50%;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nota{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    padding: 40px;
    border-radius: 50%;
    background-color: #BD00EB;
}

.nota h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section{
    border-radius: 2em;
    margin: 15px;
    background-color: #639E00;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.notas{
    display: flex;
    justify-content: space-around;
}

.titleReview{
    margin:0;
    padding: 0;
    margin-left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.resumo{
    max-height: 100px;
    margin: 15px;
}
#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1{
    max-height: 113px;
    border-radius: 50%;
}
.review{
    margin-top: 10px;
    max-height: 90%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.topnav {
  background-color:  #333;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#games{
    display: flex;
    flex-direction: column;
    align-items: center;

}
  .addGame{

    margin: 20px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column; 
    color: azure;
}
.addGame button{
    margin: 5px;
    background-color: #7AEB00; /* Green */
    border-radius: 50%;
    border: none;
    color: white;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
    width: 30px;
    cursor: pointer;
}


@media only screen and (min-width: 800px) {
    /*DESKTOP*/
    .jogo{
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 75%;
        height: 250px;
        margin-bottom: 5px;
    }

    .container{
        width: 70%;
    }
    .gameBox{
        margin: 10px;
    }
    .title{
        margin-left: 10px;   
    }
    .nota{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        padding: 50px;
        border-radius: 50%;
        background-color: #BD00EB;
    }
    .nota h2{
        font-size: 50px;
    }

    .game_name{
        font-size: 45px;
    }
    
    .game_dev{
        font-size: 25px;
    }
    footer{
        margin-bottom: -62px;
    }
    .edit_button{
        position:relative;
        left: 20px;
        bottom: 45px;
    }
}


